<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-12">
      <div class="row">
        <div class="col-lg-4 col-12">
          <h1>Cryptoinvenst</h1>
          <p>© 2020 Cryptoinvest</p>
          <p>
            <a href="">Blog</a>•
            <a href="">Twitter</a>•
            <a href="">Facebook</a>
          </p>
        </div>

        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-6 col-lg-4">
              <p><strong>Company</strong></p>
              <ul>
                <li>about</li>
                <li>Cookie policy</li>
              </ul>

              <p><strong>Developers</strong></p>
              <ul>
                <li>Cloud</li>
                <li>Query & Transact</li>
                <li>Sign in Crypto-e-invest</li>
              </ul>
            </div>
            <div class="col-6 col-lg-4">
              <p><strong>Individuals</strong></p>
              <ul>
                <li>Buy and Sell</li>
                <li>Earn free Crypto</li>
                <li>Wallet</li>
                <li>NFT</li>
              </ul>
            </div>
            <div class="col-6 col-lg-4">
              <p><strong>Support</strong></p>
              <ul>
                <li>Help center</li>
                <li>Contact us</li>
                <li>Create account</li>
                <li>ID verification</li>
                <li>Account information</li>
                <li>Payment methods</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
