<div class="container h-100">
  <div class="row position-relative h-100">
        <div class=" col-12 mt-5 position-absolute top-50 start-50 translate-middle">
          <div class="row">
            <h1 class="col-12 col-lg-6 d-none d-lg-block">
              <p>Do more with crypto, easily with Cryptonet</p>
              <p>
                <img src="../../assets/imgs/undraw_ether_re_y7ft.svg" class="w-75" alt="">
              </p>
            </h1>
            <form class="col-lg-4 col-12" [formGroup]="signIn" (ngSubmit)="onSubmit()">
              <legend class="d-flex justify-content-center mb-5"
                style="font-family: 'IBM Plex Sans Arabic', sans-serif;">
                <b>Create an account</b>
              </legend>

              <p>Required fields have an asterisk: *</p>
              <p>
                <mat-form-field appearance="legacy" class="col-12">
                  <mat-label>Enter email</mat-label>
                  <input matInput
                    type="email" id="email"
                    formControlName="email">
                  <mat-error *ngIf="signIn.invalid">{{getFieldRequiredErrorMessage('email') }} {{ getEmailErrorMessage('email')}} </mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-hint>johndoe@email.co</mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy" class="col-12">
                  <mat-label>Enter your password</mat-label>
                  <input matInput
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="signIn.invalid">{{ getFieldRequiredErrorMessage('password') }} </mat-error>
                  <mat-hint>Minimum of 8 characters</mat-hint>
                </mat-form-field>
              </p>

              <p>
                <button mat-stroked-button
                  color="primary"
                  class="col-12 col-lg-12 my-2"
                  type="submit"
                  [disabled]="signIn.invalid">Sign In</button>

              </p>
              <h5>You already have an account</h5>
              <h5><button mat-button color="primary" routerLink="/signup">Sign Up</button></h5>
            </form>
            <h4 class="col-lg-4 col-12 py-lg-0">

            </h4>
          </div>
        </div>
      </div>
</div>
