<nav class="fixed-top row">
  <div class="container">
    <div class="row g-0">
      <div class="col ">
        <mat-toolbar id="menuTab" class="col-12">
          <span class="text-white">Cryptonet</span>
          <span class="app-spacer"></span>
          <button mat-button class="ms-5 text-white" >Market</button>
          <button mat-button class="ms-5 text-white" >Plan</button>
          <button mat-button class="ms-5 text-white" >About us</button>
          <button mat-button class="example-icon text-white" aria-label="Example icon-button with menu icon">
            Connect Wallet
          </button>
        </mat-toolbar>
      </div>
    </div>
  </div>
 </nav>
<div class="container-fluid h-100 ">
  <div class="row h-100 g-0 ">
    <div class="col h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
