.app-spacer {
  flex: 1 1 auto;
}

#menuTab{
  background-color: rgba(38, 72, 134, 0.473) ;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .m-d {
    display: block;
  }

  .l-lp {
    display: none;
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .itabs {
    display: block;
  }

  .l-lp {
    display: none;
  }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .s-lp {
    display: block;
  }

  .m-d {
    display: none;
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .l-lp {
    display: block;
  }

  .m-d {
    display: none;
  }
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
  .x-lp {
    display: block;
  }

  .m-d {
    display: none;
  }
}
