#advert-text {
  font-size: 200%;
  line-height: 1
}

#advertImageBox{
  background-image: url('../../assets/imgs/pexels-rodnae-productions-8370757.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
