
<div class="container h-100">
  <div class="row h-100">
    <div class="bg-light col-12 col-lg-6 h-100 position-relative">
      <div class="position-absolute top-50 end-0 translate-middle-y me-lg-5 p-3 ">
        <p>
          <button mat-button routerLink="/signup">Jump start your portfolio <mat-icon aria-hidden="false" aria-label="arrow">arrow_right_alt</mat-icon></button>
        </p>
        <h1>
          Jump start your crypto portfolio
        </h1>
        <p>Crytoinvest is the easiest place to buy and sell cryptocurrency. <br>
           Sign up and get started today.
        </p>
        <p>
          <a mat-stroked-button color="primary" href="/signup" target="_blank">Get Started </a>
        </p>
      </div>
    </div>
    <div class="bg-light col-lg-6 d-none d-lg-block col-12 h-100 position-relative">
      <div class="position-absolute top-50 start-50 translate-middle">
        <p>
          <img src="../../assets/imgs/undraw_nakamoto_-2-iv6.svg" class="col-12" alt="">
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 h-100  p-lg-5 p-3 bg-white">
      <h1 class="d-flex justify-content-center">Create your cryptocurrency portfolio today </h1>
      <p class="d-flex justify-content-center">
        Cryptoinvest has a variety of features that make it the best place to start trading
      </p>

      <div class="row mt-5">
        <div class="col-12 col-lg-5 ">
          <p class="">
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon color="primary">leaderboard</mat-icon>
                <div mat-line class="col-12"><strong>Manage your portfolio</strong></div>
                <div mat-line> Buy and sell popular digital currencies <br> keep track of them in the one place. </div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon color="accent">today</mat-icon>
                <div mat-line><strong>Recurring buys</strong></div>
                <div mat-line> Invest in cryptocurrency slowly over time by scheduling buys daily <br> weekly, or monthly. </div>
              </mat-list-item>

            </mat-list>
          </p>
        </div>
        <div class="col-7">
          <img src="../../assets/imgs/undraw_dashboard_re_3b76.svg" class="w-100" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container h-auto">
  <div class="row h-100">
    <div class="col-12 h-100 p-3">
      <div class="d-flex justify-content-center">
        <h1>The most trusted cryptocurrency platform</h1>
      </div>
      <div class="d-flex justify-content-center">
        <p>Here are a few reasons why you should choose <strong>Cryptoinvest</strong></p>
      </div>
      <div class="row m-lg-3">
        <div class="col-12 col-lg-4 my-4">
          <mat-card class="">
            <img mat-card-image src="../../assets/imgs/undraw_vault_re_s4my.svg" >
            <mat-card-content>
              <h1>
                Secure storage
              </h1>
              <p>
                We store the vast majority of the digital assets in secure offline storage.
              </p>
              <a href="" target="_blank">Learn how Cryptoinvest keeps your funds safe and secure </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-lg-4 my-4">
          <mat-card class="">
            <img mat-card-image src="../../assets/imgs/undraw_gravitas_d-3-ep.svg" >
            <mat-card-content>
              <h1>
                Protected by insurance
              </h1>
              <p>
                Cryptoinvest maintains crypto insurance and all USD cash balances are covered by FDIC insurance,
                up to a maximum of $250,000.
              </p>
              <a href="" target="_blank">Learn how your crypto is covered by our insurance policy </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-lg-4 my-4">
          <mat-card class="">
            <img mat-card-image src="../../assets/imgs/undraw_factory_dy-0-a.svg" >
            <mat-card-content>
              <h1>
                Industry best practices
              </h1>
              <p>
                Cryptoinvest supports a variety of the most popular digital currencies.
              </p>
              <a href="" target="_blank">Learn how we implement industry best practices for account security</a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid h-auto bg-success text-white">
  <div class="row p-5">
    <div class="col-lg-2"></div>
    <div class="col-12 mx-lg-5 col-lg-2">
      <div>
        <h1>$309B</h1>
        <p>Quarterly volume traded</p>
      </div>
    </div>
    <div class="col-12 mx-lg-5 col-lg-2">
      <div>
        <h1>100+</h1>
        <p>Countries supported</p>
      </div>
    </div>
    <div class="col-12 mx-lg-5 col-lg-2">
      <div>
        <h1>98M+</h1>
        <p>Verified users</p>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h1 class="d-flex justify-content-center">
        Get started in a few minutes
      </h1>
      <p class="d-flex justify-content-center">
        Cryptoinvenst supports a variety of the most popular digital currencies.
      </p>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="row p-5">
            <div class="col-lg-4 p-5 col-12">
              <p><img src="../../assets/imgs/undraw_add_user_re_5oib.svg" class="w-100" alt=""></p>
              <p>Create an account</p>
            </div>
            <div class="col-lg-4 p-5 col-12">
              <p><img src="../../assets/imgs/undraw_pay_online_re_aqe6.svg" class="w-100" alt=""></p>
              <p>Link your bank account</p>
            </div>
            <div class="col-lg-4 p-5 col-12">
              <p><img src="../../assets/imgs/undraw_business_deal_re_up4u.svg" class="w-100" alt=""></p>
              <p>Create an account</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
